{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
<!--    <script src="http://kit.fontawesome.com/a076d05399.js"></script>-->
    <script src="{% static 'js/a076d05399.js' %}"></script>
<!--    <meta name="description" content="{% block metadescription%} {% endblock %}">-->
<!--    <title>{% block title %}{% endblock %}</title>-->
    <script>
var deptObject = {
  "Computer Science": ["MCA","BCA","MSc Computer Science", "BSc Computer Science"],
  "Commerce": ["Mcom", "Bcom", "BBA"]
}
window.onload = function() {
  var deptSel = document.getElementById("dept");
  var courseSel = document.getElementById("course");
  for (var x in deptObject) {
    deptSel.appendChild(new Option(x, x));
  }
  deptSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    courseSel.length = 1;
    //display correct values
    for (var y in deptObject[this.value]) {
      courseSel.appendChild(new Option(deptObject[this.value][y], y));
    }
  }
}
</script>

</head>
<body>
    <div class="container">
        {% include 'header.html' %}
        {% include 'navbar.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <h4 class="card-header text-center">Student Form</h4>
                    <div class="card-block">
                        <form method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label><b>Name</b></label>
                                <input name="name" type="text" class="form-control form-control-danger">
                                {% if messages %}
                                {%for message in messages %}
                                {%if "name" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="form-group">
                                <label><b>Age</b></label>
                                <input name="age" type="number" class="form-control">
                                {% if messages %}
                                {%for message in messages %}
                                {%if "age" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label><b>DOB</b></label>-->
<!--                                <input name="dob" type="date" class="form-control">-->
<!--                                {% if messages %}-->
<!--                                {%for message in messages %}-->
<!--                                {%if "age" in message.tags %}-->
<!--                                <div class="form-group has-danger">-->
<!--                                    <div class="form-control-feedback">{{message}}</div>-->
<!--                                  </div>-->
<!--                                {%endif%} {%endfor%} {% endif %}-->
<!--                            </div>-->

                            <div class="form-group">
                                <label><b>Gender</b></label><br>
                                Male<input name="gender" type="radio" value="Male" >
                                Female<input name="gender" type="radio" value="Female">
                                {% if messages %}
                                {%for message in messages %}
                                {%if "gender" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="form-group">
                                <label><b>Phone Number</b></label>
                                <input name="phn_no" type="number" class="form-control">
                                {% if messages %}
                                {%for message in messages %}
                                {%if "phn_no" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="form-group">
                                <label><b>Email</b></label>
                                <input name="email" type="email" class="form-control">
                                {% if messages %}
                                {%for message in messages %}
                                {%if "email" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="form-group">
                                <label><b>Address</b></label>
                                <input name="address" type="text" class="form-control">
                                {% if messages %}
                                {%for message in messages %}
                                {%if "address" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="form-group">
                                <div>
                                <label><b>Department</b></label>
                                <select name="dept" id="dept">
                                    <option value="" selected="selected">Select Department</option>
                                </select>
                                </div>
                                <div>
                                <label><b>Course</b></label>
                                <select name="course" id="course">
                                    <option value="" selected="selected">Please select department first</option>
                                </select>
                                </div>
                                {% if messages %}
                                {%for message in messages %}
                                {%if "dept" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            <div class="form-group">
                                <label><b>Purpose</b></label>
                                <select name="purpose" id="purpose">
                                    <option value="Enquiry" selected="selected">Enquiry</option>
                                    <option value="Place Order" selected="selected">Place Order</option>
                                    <option value="Return" selected="selected">Return</option>
                                </select>
                                {% if messages %}
                                {%for message in messages %}
                                {%if "purpose" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <label><b>Materials Provided</b></label>
                                    <input name="materials1" type="checkbox" id="materials1"  value="NoteBook">
                                    <label for="materials1">NoteBook</label>
                                    <input name="materials2" type="checkbox" id="materials2"  value="Pencil">
                                    <label for="materials2">Pencil</label>
                                    <input name="materials3" type="checkbox" id="materials3"  value="TextBook">
                                    <label for="materials3">TextBook</label>
                                    <input name="materials4" type="checkbox" id="materials4"  value="Exam Paper">
                                    <label for="materials4">Exam Paper</label>
                                </fieldset>
                                {% if messages %}
                                {%for message in messages %}
                                {%if "address" in message.tags %}
                                <div class="form-group has-danger">
                                    <div class="form-control-feedback">{{message}}</div>
                                  </div>
                                {%endif%} {%endfor%} {% endif %}
                            </div>
                            <div class="mx-auto text-center">
                                <input type="submit" onclick="show('popup')" value="SUBMIT" class="btn btn-primary">
                            </div>
                            <div class="popup" id="popup">
                                <p>Your order is confirmed.</p>
                                <a href="{% url 'Schoolapp:home' %}" onclick="hide('popup')">Back to Home page.</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
$ = function(id) {
  return document.getElementById(id);
}

var show = function(id) {
	$(id).style.display ='block';
}
var hide = function(id) {
	$(id).style.display ='none';
}        </script>
</body>
</html>



